@import "reset.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.App {
  // display: flex;
  // justify-content: center;
  .Profile-style {
    margin: 0 auto;
  }
}
