.detailPiece {
  @keyframes appear {
    0% {
      // backdrop-filter: 0;
      // -webkit-box-shadow: 0;
      // -moz-box-shadow: 0;
      // box-shadow: 0;
    }
    100% {
      backdrop-filter: blur(5px);
      -webkit-box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
    }
  }
  .detail-top {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
  }
  img {
    height: 50vh;
  }
  button {
    color: white;
    background-color: transparent;
    width: 50px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  animation: 1s ease-out 0s 1 forwards appear;
  // background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 50;
  /* Dropdown Button */
  .dropbtn {
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    // background-color: #f1f1f1;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  // .dropdown-content button {
  //   color: black;
  //   padding: 12px 16px;
  //   text-decoration: none;
  //   display: block;
  // }

  /* Change color of dropdown links on hover */
  // .dropdown-content button:hover {
  //   background-color: #ddd;
  // }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
  }
}
