.collections-style {
  // width: 55vw;
  button {
    color: white;
    background-color: transparent;
    min-width: 50px;
    transition: 0.3s ease;
    &:hover {
      background-color: white;
      color: black;
      border-radius: 0px;
      border: 1px solid white;
      margin-right: 10px;
    }
  }
  .add-field {
    display: flex;
    justify-content: space-between;
    input {
      box-sizing: content-box;
      width: 100%;
      color: white;
    }
  }

  .collectionCard {
    margin-bottom: 20px;
  }
}
