.collections-style {
  width: 50vw;
  button {
    color: white;
    background-color: transparent;
    width: 50px;
  }
  .add-field {
    display: flex;
    // flex-direction: column;
    width: 100%;
    justify-content: space-between;
    input{
      width: 100%;
    }
  }
  // input {
  //   // width: 100%;
  // }
  .collectionCard {
    margin-bottom: 20px;
  }
}
