.collectionCard {
  .collectionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .collectionImages {
    display: flex;
    .imageSquare {
      height: 12vh;
      width: 25%;
      background-size: cover;
    }
  }
}
