.Profile-style {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  color:white;
  position:fixed;
  top:0;
  z-index: 10;
}

.Profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}