.Profile-style {
  overflow-y: auto;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  button {
    transition: 0.3s ease;
    &:hover {
      background-color: white;
      color: black;
      border-radius: 0px;
      border: 1px solid white;
      margin-right: 10px;
    }
    color: white;
    background-color: transparent;
    width: 50px;
  }
  h1 {
    font-weight: bold;
  }
  @keyframes appear {
    0% {
      // backdrop-filter: 0;
      // -webkit-box-shadow: 0;
      // -moz-box-shadow: 0;
      // box-shadow: 0;
    }
    100% {
      backdrop-filter: blur(5px);
      -webkit-box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.4);
    }
  }
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  animation: 1s ease-out 0s 1 forwards appear;
  // background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.Profile-top {
  input {
    display: flex;
    background-color: transparent;
    border: 1px solid white;
  }
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6vh;

  .Profile-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
