.footer-style {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba($color: #292929, $alpha: 0.3);
  background-image: linear-gradient(
    to top,
    rgba(5, 5, 5, 0.5),
    rgba(5, 5, 5, 0.5),
    rgba(5, 5, 5, 0.5),
    rgba(255, 255, 255, 0)
  );
  
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 30px;
  .search-bar {
    // margin-left: 20px;
    border: 2px solid white;
    padding: 3px;
    background-color: transparent;
    color: white;
  }
}
