.footer-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  .search-bar {
    border: 2px solid white;
    padding: 3px;
    background-color: transparent;
    color: white;
  }
  /* width: 100%; */
}
