$m: 0; // margin
.button-detail {
    box-shadow: 0px 0px 64px 1px rgba(0, 0, 0, 0.75);

    text-shadow: 0px 0px 64px 1px rgba(0, 0, 0, 0.95);
  right:0;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  line-height: 100%; 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color: rgb(228, 228, 228);
  text-shadow: 0px 0px 11px rgba(91, 91, 91, 0.45);
  animation: 0.5s;
  &:hover {
    color:white;
    border:2px solid white;
 
  }

  border: 2px solid grey;

}

// .last-cell {
//   padding:30px;
//   // margin:30px;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: flex-end;
// }

.father {
  height: 100vh;
  width: 100vw;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.nav-bar-d3 {
  position: fixed;
  width: 100%;
  top: 0;
  // top: calc(100vh - 100px - 3vh);
  // padding-top: 2vw;
  z-index: 50;

  .up {
    font: bold 14px/1 sans-serif;
    color: white;
    height: 6vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 8px;
    background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.4),
      rgba(10, 10, 10, 0.4),
      rgba(255, 255, 255, 0)
    );
    // background-color: rgba(228, 228, 228, 0.8);
    float: left;
    // background-image:
    // linear-gradient(to bottom, rgba(92,47,90,1), rgba(92,47,90,0));
    cursor: pointer;
    &:hover {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
      );
    }
  }
}
.feature {
  position: relative;
  width: calc(100% - #{$m} * 2 * 1px);
  height: calc(100% - #{$m} * 2 * 1px);
  margin: $m * 1px;
  //background: #aaa;
  overflow: hidden;
}
.node {
  border: 2px solid black;
  position: absolute;
  background: transparent url("") no-repeat 50% / cover;
  //border: 1px white solid;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity 0.8s;
  cursor: pointer;
  .label {
    display: inline;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    position: absolute;
    padding: 0;
    margin-left: 30px;
    bottom: 20%;
    left: 20%;
    max-width: 350px;
    transform: translateX(-50%) translateY(-50%);
    transition: color 0.4s, opacity 0.8s, filter 0.8s;
    text-shadow: 0px 0px 11px rgba(91, 91, 91, 0.45);
  }
  &.hide {
    // zoom in
    opacity: 0;
    pointer-events: none;
    .label {
      filter: blur(10px);
    }
  }
  &:hover {
    //background-color: #222 !important;
    //opacity: 1;
    .label {
      color: hsla(0, 0, 100, 1);
    }
  }
  &.level-0 {
    z-index: 4;

    font-size: 15vmin;
    display: none;
  }
  &.level-1 {
    z-index: 3;
    font-size: 10vmin;
  }
  &.level-2 {
    z-index: 2;
    font-size: 5vmin;
  }
  &.level-3 {
    z-index: 1;
    font-size: 2.5vmin;
  }
}
