.nav-style {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 21px;
  height: 3vh;
  // background-color: black;
  color: white;
  right: 0;
}
input {
  color: white;
  width: 100px;
}

#loggedname {
  margin-right: 20px;
}

#logoutlink {
  text-decoration: none !important;
  font-size: 0.8rem;
}

.change-style {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 0.6rem;
}

.user-buttons {
  display: flex;
  flex-direction: row;
}
.profile-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    margin-right: 5px;
    font-weight: bold;
  }
  a:link {
    text-decoration: none !important;
  }
}

nav {
  position: fixed;
  // width: 50vw;
  top: 0;
  z-index: 100;
}
